<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <h1>Bienvenue dans The Gossip Project, une application web développée via Sinatra</h1>

    <% gossips.each_with_index do |gossip, index| %> <!-- <% %> sert à exécuter du Ruby au sein d'un fichier HTML -->
      <p>
        <a href="/gossips/<%=index%>/">Voir le gossip n°<%=index%></a>
      </p>
    <% end %>
    <br/>
    <a href="/gossips/new/">+ Créer un gossip</a>

  </body>

</html>
